<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>view test</title>


    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        body {
            background: var(--coucou);
            color: hsl(0, 0%, 90%);
        }
    </style>
    <style>
        :root {
            --coucou: black
        }

        /* hsl(0, 0%, 10%) */
    </style>
</head>

<body>

</body>
<script type="module" src="./main.js"></script>

</html>